.cod-news
    .cod-news__left
        .cod-news__slider
            +splide("cod-news", newsFeed)
                .cod-news__card(data-id= val.id) 
                    img.cod-news__image(src= val.img)
                    .cod-news__card-footer
                        .cod-news__row 
                            span= val.text 
                            date= val.date
                        button.button.cod-news__button= "Перейти \u27F6" 

    .cod-news__right
        ul 
            each i in newsFeed 
                li.short-news(data-id= i.id) 
                    span= i.text 
                    span= i.date 
