.news-feed
    .news-feed__left
        .news-feed__news.news 
            img.news__image(src= newsFeed[0].img)
            .news__data 
                p.news__text= newsFeed[0].text
                p.news__date= newsFeed[0].date
            a.news__go(href= newsFeed[0].href)= "Перейти \u27F6" 
        form.news-feed__subscribe 
            span Подпишись на наши новости
            label(for="subscribe") 
                input(type="text" id="subscribe" placeholder="1a11757d20@inb")
                button(type="submit") 
                    img(src="../../../assets/svg/email.svg")
            .news-feed__socials 
                a(href="")
                    img(src="../../../assets/svg/Telegram-Negative.svg") 
                a(href="")
                    img(src="../../../assets/svg/VK-Negative.svg") 

    .news-feed__right
        ul.news-feed__list 
            each i in newsFeed 
                li.news-feed__list-item(data-item= i.id) 
                    p.news-feed__itemdata-text= i.text
                    p.news-feed__itemdata-date= i.date
                    p.news-feed__itemdata-img.news-feed__hidden= i.img
                    a.news-feed__itemdata-href.news-feed__hidden(href= i.href)