include ../accordion/accordion.pug
mixin menuList(arr)
    each j in arr
        if j.menu 
            li.list__item.list__item--big 
                if j.href
                    a(href= j.href)= j.name
                else 
                    span!= j.name

                //--- заменил в предыдущем теге span на a, при выключеной обрабоке меню

                ul.list--details     
                    each k in j.menu 
                        li.list__item.list__item--small
                            a(href=k.href)!= k.name
        else
            li.list__item.list__item--big
                a(href=j.href)!= j.name



nav.main-header.main-header--white
    .burger 
        ul.burger__list
            .list
                li.burger__title
                    h2 Карта сайта
                +menuList(burger)
            img.cristal(src="../../../assets/svg/veil.svg")
        .burger__image

    .logo

    .menu-reduced 
        ul.menu-reduced__list.list
            img.cristal(src="../../../assets/svg/veil.svg")
            .options 
                .options__search 
                    include ../../../assets/svg/search.svg
                .options__lk 
                    a(href="#") ЛИЧНЫЙ КАБИНЕТ
                .options__international
                    a(href="#") Rus
                    a(href="#") Eng
            +accordion(menu,"menu-reduced__item")
        span.menu-reduced__caption МЕНЮ

    ul.menu
        each i in menu 
            li.menu__item
                ul.list
                    +menuList(i.menu)
                    img.cristal(src="../../../assets/svg/veil.svg")
                if !i.menu.length
                    a(href= i.href)= i.title
                else 
                    span= i.title

                //--- заменил в предыдущем теге span на a, при выключеной обрабоке меню


    .options 
        .options__search 
            include ../../../assets/svg/search.svg
        .options__lk 
            a(href="#") ЛИЧНЫЙ КАБИНЕТ
        //- .options__international
        //-     a(href="#") Rus
        //-     a(href="#") Eng



